<div class="col">
  <ul class="list-group">
    <li class="list-group-item">
      <a href="javascript:history.back()" class="back"><i class="fas fa-arrow-left"></i></a>
      <strong>推文</strong>
    </li>
    <li class="list-group-item">
      {{message}}
    </li>
   
  </ul>
</div>

