.flex-container{
  display: flex;
}

.user-avatar {
  height:50px;
  width: 50px; 
  border-radius: 50%;
  margin-right: 10px;
}

.back {
  color:black;
  margin-right: 20px;
}

.a-black {
  color:black; 
  text-decoration: none;
}

.a-black:hover{
  color:black; 
  text-decoration: none;
}

.logo {
  width: 50px;
  height: 50px;
}

.btn-cancel{
  background-color:lightgray; 
  color:white;
  border-radius: 18px; 
  width: 60px; 
}

.btn-edit, .btn-delete, .btn-create {
  background-color:rgb(255, 102, 0); 
  color:white;
  border-radius: 18px; 
  width: 60px; 
  float: right;
}


.nav .btn-create {
  min-width: 100px;
  width: 80%;
}

.log-out {
  margin-top: 100px;
  margin-right: 10px;
}

.nav-icon {
  margin-right: 10px;
}

.btn-push {
  border: none; 
  color:black; 
  background-color:white;
}

.user_cover {
  height: 200px; 
  width: 100%;
}

.selected_nav {
  color: rgb(255, 102, 0); 
  border-bottom: rgb(255, 102, 0) solid;
}

.unselected_nav {
  color: grey;
}
.border-avatar {
  border-width: 5px;
  border-style: solid;
  border-color: white;
  position: absolute;
  top: 80px;
  left: 55px;
  border-radius: 50%; 
  height: 100px; 
  width: 100px;
  position: relative; 
  top: -60px;
}

.admin-users-card{
  background-color: rgb(247, 247, 247);
  border-color: white;
}

.btn-twitter {
  background:rgb(255, 102, 0);
  color:white;
}
.btn-outline-twitter {
  width: auto; 
  border-color: rgb(255, 102, 0); 
  color: rgb(255, 102, 0);
}
.btn-outline-twitter-active {
  width: auto; 
  background:rgb(255, 102, 0);
  color:white;
}

/* chat room */
.chat-room {
  height: 88vh;
}

.send-messages {
  margin-bottom: 6px;
  display: flex;
  justify-content: flex-end;
}

.receive-messages {
  margin-bottom: 6px;
  display: flex;
  justify-content: flex-start;
}

.receive-messages img, .user-list img {
  margin-right: 6px;
}

.chat-messages {
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
  flex-direction: column;
  
}

.send-message {
  background-color: rgb(255, 102, 0);;
  border-radius: 20px 20px 0px 20px;
  word-break: break-all;
  max-width: 220px;
  padding: 10px;
}

.receive-message {
  background-color: lightgray;
  border-radius: 20px 20px 20px 0px;
  word-break: break-all;
  max-width: 220px;
  padding: 10px;
}

.time {
  font-size: 2px;
}

.title {
  border-bottom: 1px solid #E6EcF0;
}

.title p {
  font-weight: 700;
  font-size: 18px;
}

.messageArea {
  padding-top: 10px;
  border-top: 1px solid #E6EcF0;
  display: flex;
}

.messageArea textarea {
  margin: 5px 10px;
  border-radius: 15px;
  padding-left: 20px;
  background-color: #e6ecf0;
  outline: none;
  border: none;

}

.messageArea button {
  background-color:white; 
  border:none;
  display: inline-block;
  color:rgb(255, 102, 0);
}

.online-user {
  border-left: 1px solid #E6EcF0;
  border-right: 1px solid #E6EcF0;
  height: 100vh;
}

.user-list, .notice{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E6EcF0;
  flex-direction: row;
}

.user-list a, .notice a {
  text-decoration:none; 
  color:black;
  font-weight: 600;
}

.red-dot-private {
  width:8px;
  height:8px; 
  border-radius: 4px;
  background-color:red; 
  position:relative; 
  bottom:18px; 
  left: 16px;
}

.room {
  background-color: lightgray;
  border-radius: 20px;
  word-break: break-all;
  max-width: 220px;
  padding: 10px;
}

.reply-font {
  color: grey;
}

.reply-to-font {
  color: grey;
  font-size: 2px;
}

.reply-to-account {
  color: coral;
  font-size: 2px;
}

/* notice */
.notice-btn {
  background-color: white;
  border: none;
}

.notice a img {
  margin-right: 6px;
}

.desc {
  flex-grow: 1;
  flex-direction: column;
}

.notice {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.red-dot-notice {
  width:8px;
  height:8px; 
  border-radius: 4px;
  background-color:red; 
  position:relative; 
  bottom:10px; 
  right: 9px;
  display: inline-block;
}

.red-dot-public {
  width:8px;
  height:8px; 
  border-radius: 4px;
  background-color:red; 
  position:relative; 
  bottom:8px; 
  right: 10px;
  display: inline-block;
}

/* tweet */
.like-form {
  float: left;
}


.like-icon {
  color: rgb(224, 36, 94);
}

.description, .comment {
  border: none;
}

.more {
  position:absolute; 
  right:20px;
}

.tweet-icon {
  float:left; 
  color:grey; 
  border: none; 
  background-color:white;
}

.tweet-icon:hover{
  color:grey; 
}

.comment-count {
  float:left; 
  color:grey; 
  margin-right:25px;
  margin-left: 6px;
}

.count {
  color:grey; 
  float: right;
}

.home {
  border-bottom-width:8px;
}

.post-tweet {
  width: 600px;
}

.tweets .tweet-icon {
  margin-right: 20px;
}

.tweet-desc {
  margin-top: 10px;
}

.tweet-desc font, .reply {
  font-size: 14px;
}

.a-coral {
  color: rgb(255, 102, 0);; 
  text-decoration:none;
}

.comments-count {
  float:left; 
  color:grey; 
  margin-right:25px;
}

/* login */
.log-in, .register {
  border-radius: 18px; 
  background: rgb(255, 102, 0);; 
  color:white;
}

.log-font {
  font-size: 14px; 
  font-weight: bold;
}

/* setting */
.user-setting .btn-twitter {
  width: 180px;
  float: right;
  margin-top: 10px;
}

.btn-close {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 102, 0);
}

.edit-user-page {
  height: 275px;
}

/* uesr follow */
.follow-font {
  color: grey;
}

.top-follow-list {
  background-color: rgb(245, 248, 250);
}

/* user page */
.user-icon {
  float: right;
}

.user-nav {
  height: 75px;
}

.user_avatar {
  position: relative;
  background: #fff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0);
  transform: translateY(-50%);
}

.user_avatar_s {
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0);
}

.user-font {
  color: grey;
}

/* alert */
.alert {
  margin: 30px 0 ;
}

/* message */
.btn-reply {
  border-radius: 18px; 
  background:rgb(255, 102, 0);
  color:white; 
  width: 60px; 
  float: right;
}