.flex-container{
  display: flex;
}

.btn-cancel{
  background-color:lightgray; 
  color:white;
}

.btn-edit, .btn-delete, .btn-create {
  background-color:rgb(255, 102, 0); 
  color:white;
}

.user-avatar {
  width: 50px; 
  border-radius: 50%;
}

.btn-push {
  border: none; 
  color:black; 
  background-color:white;
}

.user_cover {
  height: 200px; 
  width: 100%;
}
.user_avatar {
  position: relative;
  background: #fff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0);
  transform: translateY(-50%);
  /* left: 50%; */
  /* cursor: pointer;  */
}
.user_avatar_s {
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0);
}
.selected_nav {
  color: rgb(255, 102, 0); 
  border-bottom: rgb(255, 102, 0) solid;
}

.unselected_nav {
  color: grey;
}
.border-avatar {
  border-width: 5px;
  border-style: solid;
  border-color: white;
  position: absolute;
  top: 80px;
  left: 55px
}
.admin-users-card{
  border-color: white;
}
.unselected_nav {
  color: grey;
}
.btn-twitter {
  background:rgb(255, 102, 0);
  color:white;
}
.btn-outline-twitter {
  width: auto; 
  border-color: rgb(255, 102, 0); 
  color: rgb(255, 102, 0);
}
.btn-outline-twitter-active {
  width: auto; 
  background:rgb(255, 102, 0);
  color:white;
}

/* chat room */
.send-messages {
  margin-bottom: 6px;
  display: flex;
  justify-content: flex-end;
}

.receive-messages {
  margin-bottom: 6px;
  display: flex;
  justify-content: flex-start;
}

.receive-messages img, .user-list img {
  margin-right: 6px;
}

.chat-messages {
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
  flex-direction: column;
  
}

.send-message {
  background-color: coral;
  border-radius: 20px 20px 0px 20px;
  word-break: break-all;
  max-width: 220px;
  padding: 10px;
}

.receive-message {
  background-color: lightgray;
  border-radius: 20px 20px 20px 0px;
  word-break: break-all;
  max-width: 220px;
  padding: 10px;
}

.time {
  font-size: 2px;
}

.title {
  border-bottom: 1px solid #E6EcF0;
}

.title p {
  font-weight: 700;
  font-size: 18px;
}

.messageArea {
  padding-top: 10px;
  border-top: 1px solid #E6EcF0;
  display: flex;
}

.messageArea textarea {
  margin: 5px 10px;
  border-radius: 15px;
  padding-left: 20px;
  background-color: #e6ecf0;
  outline: none;
  border: none;

}

.messageArea button {
  background-color:white; 
  border:none;
  display: inline-block;
  color:rgb(255, 102, 0);
}

.online-user {
  border-left: 1px solid #E6EcF0;
  border-right: 1px solid #E6EcF0;
  height: 100vh;
}

.user-list, .notice{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E6EcF0;
  flex-direction: row;
}

.user-list a, .notice a {
  text-decoration:none; 
  color:black;
  font-weight: 600;
}

.red-dot {
  width:8px;
  height:8px; 
  border-radius: 4px;
  background-color:red; 
  position:relative; 
  bottom:18px; 
  left: 16px;
}

.room {
  background-color: lightgray;
  border-radius: 20px;
  word-break: break-all;
  max-width: 220px;
  padding: 10px;
}

/* notice */
.notice-btn {
  background-color: white;
  border: none;
}

.notice a img {
  margin-right: 6px;
}

.desc {
  flex-grow: 1;
  flex-direction: column;
}

.notice {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* tweet */
.like-form {
  float: left;
}

.count {
  float: right;
}

.like-icon {
  color: rgb(224, 36, 94);
}

/* .reply .count, .reply .like-icon {
 font-size: 10px;
} */